* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.clear {
  clear: both;
}
.header_name {
  padding: 10px 100px 10px 100px;
  height: 30px;
}
.header_icon {
  font-size: 15px;
  background-color: navy;
  width: 3%;
  float: left;
  border-radius: 100%;
  text-align: center;
  height: inherit;
  padding: 6px 6px 6px 8px;
  color: #fdc800;
}
.header_title {
  padding: 0px 0px 0px 40px;
}
.header_list li {
  display: inline;
  margin-right: 20px;
}
.header_list a {
  text-decoration: none;
  color: black;
}
.header_list ul {
  padding-inline-start: 110px;
  margin: 23px 0px 16px 5px;
}
.banner img {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.welcome {
  padding: 50px;
}
.welcome_content {
  width: 50%;
}
.welcome_content h2 {
  padding: 20px 0;
}
.welcome_readmore {
  margin-top: 40px;
  width: 20%;
  padding: 15px 20px 10px 20px;
  background-color: #fdc800;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.welcome_readmore :hover {
  color: white;
}
.welcome_img {
  width: 170px;
  float: right;
  position: relative;
  left: 200px;
  bottom: 40px;
}
